.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.products img {
    width: 100%
}

.product {
    padding: 40px;
}
/* 
button {
    font-size: 12px;
    padding: 10px;
} */

header {
    background-color: pink;
    height: 70px;
    padding-top: 20px;
}